.modal-wrapper{
    width: auto;
    height: 70%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 200px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    justify-content: center;
}