#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: hsl(233deg 20% 18%); //#272c3e
   

    .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        height: 70px;
        padding: 0 calc(24px / 2) 0 0;


        .left-flex {
            display: flex;


            .navbar-brand-box {
                background: #272c3e; //#333547
                padding: 0 1.5rem;
                text-align: center;
                width: 240px;

                .logo{
                    color:#ececf1;
                    text-decoration: none;
                    
                    .logo-lg h1{
                        padding: 15px;
                    }
                }
            }
        }
    }
}